
:root{

    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    /* Neutral */

    --VeryDarkBlue: hsl(234, 12%, 34%);
    --GrayishBlue: hsl(229, 6%, 66%);
    --VeryLightGray: hsl(0, 0%, 98%);

}
.card-cyan, .card-red, .card-yellow, .card-blue{
    box-shadow: 3px 3px 15px grey;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.img-right{
    display: flex;
    justify-content: flex-end;
}

.card-cyan{
    border-top: 4px solid var(--Cyan);
}
.card-red{
    border-top: 4px solid var(--Red);
}
.card-blue{
    border-top: 4px solid var(--Blue);
}
.card-yellow{
    border-top: 4px solid var(--Orange);
}